.main-footer {
	background-color: #002638;
	padding-top: 52px;
	padding-bottom: 55px;
}

.main-footer__wrap {
	display: flex;
	flex-wrap: wrap;
}

.main-footer__item {
	display: inline-block;
}

.main-footer__aside {
	display: flex;
	flex-direction: column;
	max-width: 170px;
	width: 100%;
	margin-right: auto;
}

.main-footer__logo {
	display: block;
	max-width: 150px;
	width: 100%;
}

.main-footer__logo img {
	display: block;
	width: 100%;
}

.main-footer__desc {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.15px;
	color: rgba(255, 255, 255, 0.47);
	margin-top: auto;
}

.main-footer__block {
	max-width: 427px;
	width: 100%;
	display: flex;
	column-count: 2;
	column-gap: 94px;
	margin-right: 94px;
}

.main-footer__holder {
	display: flex;
	flex-direction: column;
}

.main-footer__title {
	font-size: 20px;
	line-height: 1.2;
	color: #ffffff;
	margin-bottom: 16px;
}

.main-footer__col li:not(:last-child) {
	margin-bottom: 12px;
}

.main-footer__link {
	display: inline-block;
	font-size: 16px;
	line-height: 1.3;
	color: #ffffff;
	letter-spacing: 0.15px;
	transition: 0.25s color;
}

.main-footer__link:hover {
	color: #85979f;
}

.main-footer__contacts {
	max-width: 490px;
	width: 100%;
	display: flex;
	column-count: 2;
	column-gap: 94px;
}

.main-footer__address {
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	letter-spacing: 0.15px;
	padding-top: 16px;
	padding-bottom: 15px;
}

.main-footer__text {
	margin-top: auto;
}

.main-footer__text p {
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	letter-spacing: 0.15px;
	white-space: pre-wrap;
	padding-bottom: 5px;
}

.main-footer__subtitle {
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	letter-spacing: 0.15px;
	font-weight: normal;
}

.main-footer__phone {
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	letter-spacing: 0.15px;
	margin-bottom: 5px;
	font-weight: 700;
}

.main-footer__socials {
	display: flex;
	align-items: center;
	padding-top: 5px;
}

.main-footer__user {
	display: block;
	background-repeat: no-repeat;
}

.main-footer__user:not(:last-child) {
	margin-right: 22px;
}

.main-footer__user--instagram {
	width: 17px;
	height: 17px;
	background-size: 17px;
	background-image: url(../img/icons/socials/instagram.svg);
}

.main-footer__user--youtube {
	width: 20px;
	height: 14px;
	background-size: 20px 14px;
	background-image: url(../img/icons/socials/youtube.svg);
}

.main-footer__user--facebook {
	width: 17px;
	height: 17px;
	background-size: 17px 17px;
	background-image: url(../img/icons/socials/facebook.svg);
}

@media screen and (max-width: 1350px) {

.main-footer__wrap {
	justify-content: center;
}

.main-footer__aside {
	flex-basis: 100%;
	max-width: 100%;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 25px;
}

.main-footer__block {
	margin-right: 55px;
}

}

@media screen and (max-width: 1022px) {

.main-footer__block {
	margin-right: 0px;
	margin-bottom: 35px;
}

.main-footer__contacts {
	flex-basis: 100%;
}

}

@media screen and (max-width: 767px) {

.main-footer {
	padding-top: 15px;
	padding-bottom: 25px;
}

.main-footer__aside {
	display: none;
}

.main-footer__block {
	display: none;
}

.main-footer__holder {
	display: contents;
}

.main-footer__wrapper {
	order: -2;
}

.main-footer__title {
	display: none;
}

.main-footer__contacts {
	flex-direction: column;
	max-width: 100%;
	padding: 0 22px;
}

.main-footer__address {
	display: none;
}

.main-footer__text p {
	font-size: 14px;
	line-height: 1.7;
}

.main-footer__subtitle {
	font-size: 14px;
	line-height: 1.7;
}

.main-footer__phone {
	font-size: 14px;
	line-height: 1.7;
	border-bottom: 1px dashed #fff;
	margin-bottom: 11px;
}

.main-footer__socials {
	padding-top: 42px;
}

.main-footer__user {
	background-position: center;
	width: 75px;
	height: 41px;
	border: 1px solid #e9e8f4;
	box-sizing: border-box;
	border-radius: 15px;
}

}

